/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
	background-color: #000;
	height: 100%;
	width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
	color:white;
=======
	color:#2d95ff;
>>>>>>> ad4f305ffd797c654640433c676d21721a37479a

=======
	color:#2d95ff;
>>>>>>> 5dc809900cc8612a644f1f5417c5d6ae0f05512b
}

h1 {
	font-family: calibri;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.8em;
	text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
	margin: 2em;
	text-shadow: 5px 5px 5px #fff000;
=======
	
	text-shadow: 5px 5px 5px #fff;
>>>>>>> ad4f305ffd797c654640433c676d21721a37479a
=======
	text-shadow: 5px 5px 5px #fff;
>>>>>>> 5dc809900cc8612a644f1f5417c5d6ae0f05512b
}

.gameSpace {
	background: url("images/background.png");
<<<<<<< HEAD
<<<<<<< HEAD
	height: 100%;
	width: 100%;
	width: 80%;
	height: 600px;
	margin: 5% 10% 0px 10%;

=======
	height: 500px;
	width: 800px;
	width: 80%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
>>>>>>> ad4f305ffd797c654640433c676d21721a37479a
=======
	margin-left: 15px;
	margin-right: auto;
	position: relative;
>>>>>>> 5dc809900cc8612a644f1f5417c5d6ae0f05512b
}

.scoreboard {
	margin-left: 15px;
	text-align: center;
	width: 800px;
}

.scoreboard div{
	display: inline-block;
	text-align: center;
<<<<<<< HEAD
	margin: 0 7% 0 7%;
}
svg{
<<<<<<< HEAD
	box-shadow: 0 0 20px 3px #000 inset;
}

.gameSpace {
  position : relative
=======

	box-shadow: 0 0 20px 3px #000 inset;
>>>>>>> ad4f305ffd797c654640433c676d21721a37479a
=======
>>>>>>> 5dc809900cc8612a644f1f5417c5d6ae0f05512b
}

.collisionCircle {
  fill : 'red'
}

.stats {
	height: 200px;
	width: 200px;
	background-color: red;
	float: left;
}