/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
	background-color: #000;
	height: 100%;
	width: 100%;
	color:#2d95ff;
}

h1 {
	font-family: calibri;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.8em;
	text-align: center;
	text-shadow: 5px 5px 5px #fff;
}

.gameSpace {
	background: url("images/background.png");
	margin-left: 15px;
	margin-right: auto;
	position: relative;
}

.scoreboard {
	margin-left: 15px;
	text-align: center;
	width: 800px;
}

.scoreboard div{
	display: inline-block;
	text-align: center;
}

.collisionCircle {
  fill : 'red'
}